<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hustle - Discover Local Businesses</title>
	<link rel="stylesheet" href="../static/styles/main.css?{{ cache_id }}">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js?"></script>
	<script type="text/javascript" src="static/scripts/logout.js?{{ cache_id }}"></script>
	<script type="text/javascript" src="static/scripts/logout_1.js?{{ cache_id }}"></script>
	<script type="text/javascript" src="static/scripts/home.js?{{ cache_id }}"></script>
    </head>
    <body>
        <header class=" container Top-bar">
	    <a id="logo" href="0-hstl">Hustle</a>
            <div class="side-bar">
                <a href="register"><button id="login" class="register-button">Login</button></a>
		<a href="#"><button id="logout" >Logout</button></a>
                <a id="abt" href="about">About</a>
            </div>
        </header>
        <section class="container intro">
        </section>
        <section class=" container filter-box">
            <label for="county-filter">Filter by county</label>
            <select id="county-filter">
                <option value="all">All Counties</option>
                <option value="county1">county1</option>
                <option value="county2">county2</option>
            </select>
            <div class="serch">
                <input type="text" placeholder="Search...">
            </div>
            <div class="container image-page">
                <a href="image">Images</a>
            </div>
        </section>
        <section class ="container busines-section">
        </section>
        <aside class="right">
            <div class="upload">
                <button>+Upload</button>
            </div>
        </aside>

    </body>
</html>
