<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hustle - Discover Local Businesses</title>
    </head>
    <body>
        <header>
            <a href="home_hustle.html"><img src="business_logo.jpg" alt="Business Logo"></a>
            <button class="register-button">Login</button>
            <a href="#">About</a>
        </header>
        <section class="welcome">
            <h2>Discover and support Local Business</h2>
        </section>
        <div class="image-info">
            <h3>Business:electronic ventures</h3>
            <h6>Nakuru</h6>
            <p>town</p>
        </div>
        <section class="image">
            <div class="image-pic">
                <a href="#"><img src="assets/images/tv.jpg" alt="image"></a>
            </div>
            <p>this the best tv @22200 only</p>
        </section>
    </body>
</html>