<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hustle - Discover Local Businesses</title>
        <link rel="stylesheet" href="../static/styles/3_main_biz.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js?"></script>
        <script type="text/javascript" src="static/scripts/login.js"></script>
        <script type="text/javascript" src="static/scripts/auth.js"></script>
    </head>
    <body>
        <header class=" container Top-bar">
            <div class="side-bar">
                <a href="about.html">About</a>
            </div>
        </header>
        <section class="welcome">
            <h1>Welcome Back!</h1>
        </section>
        <form  id="signup-form" action="#" method="post">
            <fieldset class="account-info">
                <legend>sign up</legend>
                <label>Select County:</label>
                <select>
                    <option value="Nakuru" selected>Nakuru</option>
                    <option vlaue="Tran-zoia" selected>Tran-zoia</option>
                </select>
                <label for="town" class="town-label">Select Town:</label>
                <select id="town" name="Town">
                    <option value="Nakuru" selected>Nakuru</option>
                    <option value="Kitale" selected>Kitale</option>
                </select>
            </fieldset>
            <fieldset class="account-info">
                <label>
                    First name
                    <input type="tel" name="Fist_name" placeholder="Fist_name" required>
                </label>
                <label>
                    second name
                    <input type="tel" name="second_name" placeholder="Second_name" required>
                </label>
                <label>
                    Email 
                    <input type="email" name="email" placeholder="example@gmail.com" required>
                </label>
                <label>
                    Password
                    <input type="password" name="password">
                  </label>
            </fieldset>
            <fieldset class="account-info">
                <input  class="btn" type="submit" name="submit" value="Submit">
            </fieldset>
        </form>
        <form  id="login-form" action="#" method="post">
            <fieldset class="account-info">
                <legend>Login</legend>
                <label>
                    Email 
                    <input type="email"  id="email" name="email" placeholder="example@gmail.com" required>
                </label>
                <label>
                    Password
                    <input type="password" id="password" name="password" required>
                  </label>
            </fieldset>
            <fieldset class="account-info">
                <input  class="btn" type="submit" name="submit" value="Submit">
            </fieldset>
        </form>
        <div id="sign-tab" class="tabs">
            <p>Not yet registed?</p>
            <button id="signup-tab" >Sign Up</button>
        </div>
        <div  id="log-info" class="tabs">
            <p>Already registerd?</p>
            <button id="login-tab">Login</button>
        </div>
    </body>
</html>