<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hustle - Discover Local Businesses</title>
	<link rel="stylesheet" href="../static/styles/user.css?{{ cache_id }}">
	<link rel="stylesheet" href="../static/styles/3_main_biz.css?{{ cache_id }}">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js?"></script>
	<script type="text/javascript" src="static/scripts/overlay.js?{{ cache_id }}"></script>
	<script type="text/javascript" src="/static/scripts/uploads.js?{{ cache_id }}"></script>
	<script type="text/javascript" src="static/scripts/logout.js?{{ cache_id }}"></script>
	<script type="text/javascript" src="static/scripts/logout_1.js?{{ cache_id }}"></script>
	<script type="text/javascript" src="static/scripts/user_biz.js?{{ cache_id }}"></script>
	<script type="text/javascript" src="static/scripts/updatuserviabtn.js?{{ cache_id }}"></script>
    </head>
    <body>
        <header class="Top-bar">
	    <a id="logo" href="0-hstl">Hustle</a>
            <div class="side-bar">
		    <a href="register"><button id="login" class="register-button">Login</button></a>
		    <a href="0-hstl"><button id="logout" class="register-button">Logout</button></a>
		    <a id="abt" href="about.html">About</a>
            </div>
        </header>
        <section class="busines-details">
        </section>
        <section class="uploads">
            <button>+upload</button><br>
        </section>
        <form  class="overlay" id="uploadForm" action="#" method="post">
            <fieldset class="account-info">
                <legend>Create video</legend>
                <label>
                    Select Video 
                    <input type="file" id="videoFile" name="videoFile" accept="video/*" required>
                </label>
                <label>
                    Write Something
                    <textarea id="description" name="description" rows="4"></textarea>
                  </label>
            </fieldset>
            <fieldset class="account-info">
                <input  class="btn" type="submit" name="submit" value="Upload">
            </fieldset>
            <fieldset class="account-info">
                <button  class="close" id="closeModal">Close</button>
            </fieldset>
        </form>
        <section class="image-page">
            <a class="link-page" href="#"><button>Images</button></a>
        </section>
        <section class="down-side">
	    <section class="vids">
	    </section>
            <aside class="reach-out">
                <div class="bs-desc">
                    <a href="#">whatsapp</a><br><br>
                    <button class="msg">message</button>
                </div>
            </aside>
        </section>

    </body>
</html>
